body {
  background-color: rgb(240, 220, 195);
}


h1 {
  color:  black;
}

p {
  text-align: left;
  font-size: large;
}

div {
  text-align: center;
}

td {
    font-size:larger;
    padding-left: 26px ;
    padding-right: 26px;
    background-color: rgb(240, 220, 195);
    text-align: center;
}

.magyar {
  width: 70px;
  height: 40px;
}
.divmagyar {
  text-align: left;
}

.divangol {
  text-align: left;
}

.angol {
  width: 70px;
  height: 40px;
}

img